<link rel="stylesheet" href="menu.scss">

<ul class="menu">
    <li class="first">
        <div class="text active">
            <a href="index.html">首页</a>
        </div>
        <div class="second">
            
        </div>
    </li>
    <li class="first">
        <div class="text">123</div>
        <div class="second"></div>
    </li>
    <li class="first">
        <div class="text">123</div>
        <div class="second"></div>
    </li>
    <li class="first">
        <div class="text">123</div>
        <div class="second"></div>
    </li>
</ul>
<div class="modal"></div>